/*
* @Author: derek
* @Date:   2017-02-27 21:47:04
* @Last Modified by:   derek
* @Last Modified time: 2017-02-27 21:47:17
*/
#right-wrapper .con .refund{
    line-height:26px;
}
#right-wrapper .con .refund li{
    font-weight:bold;
    font-size:16px;
    margin-bottom:10px;
}
#right-wrapper .con .refund p{
    padding-left:32px;
}
#right-wrapper .con .refund ol{
    padding-left:20px;
}
#right-wrapper .con .refund ol li{
    font-size: 14px;
    font-weight:normal;
    margin-bottom:0;
}
